[submodule "src/hector_quadrotor"]
	path = src/hector_quadrotor
	url = https://github.com/tu-darmstadt-ros-pkg/hector_quadrotor.git
	branch = kinetic-devel
[submodule "src/hector_localization"]
	path = src/hector_localization
	url = https://github.com/tu-darmstadt-ros-pkg/hector_localization
	branch = catkin
[submodule "src/hector_gazebo"]
	path = src/hector_gazebo
	url = https://github.com/tu-darmstadt-ros-pkg/hector_gazebo.git
	branch = kinetic-devel
